<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/" class="logo">SupermarketApp</a>
    </div>
    <div class="navbar-links">
        <ul>
            <li><a [routerLink]="dashboardLink" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/produits" routerLinkActive="active">Produits</a></li>
            <li><a routerLink="/categories" routerLinkActive="active">Catégories</a></li>
            <li><a routerLink="/boutiques" routerLinkActive="active">Boutiques</a></li>
            @if (userRole === 'Admin' || userRole === 'Boutique' || userRole === 'Acheteur') {
            <a routerLink="/messagerie" class="nav-link">
                Messagerie
                @if (unreadCount > 0) {
                <span class="badge">{{ unreadCount }}</span>
                }
            </a>
            }
        </ul>
    </div>
    <div class="navbar-actions">
        <button (click)="logout()" class="btn-logout-navbar">Logout</button>
    </div>
</nav>