<div class="produit-form">
    <h1>Ajouter un produit</h1>
    <form #produitForm="ngForm" (ngSubmit)="addProduit()">

        <div>
            <label for="boutique">Boutique :</label>

                <select
                id="boutique"
                name="store_id"
                [(ngModel)]="newProduit.store_id"
                required
                >
                <option value="">-- Choisir une boutique --</option>

                <!-- TEMPORAIRE -->
                <option value="temp-1">Boutique Demo 1</option>
                <option value="temp-2">Boutique Demo 2</option>
                <option value="temp-3">Boutique Demo 3</option>
                </select>

        </div>
        
        <div>
            <label for="nom du produit">Nom du produit:</label>
            <input type="text" name="nom_prod" [(ngModel)]="newProduit.nom_prod" required>
        </div>

        <div>
            <label for="descriptions">Description du produit:</label>
            <textarea name="descriptions" [(ngModel)]="newProduit.descriptions"></textarea>
        </div>

        <div>
            <label>Prix unitaire</label>
            <input
                type="number"
                name="prix_unitaire"
                [(ngModel)]="newProduit.prix_unitaire"
                required/>
        </div>

        <div>
            <label for="disponibilite">Le stock est encore disponible:</label>
            <select [(ngModel)]="newProduit.stock_etat" name="stock_etat">
                <option [ngValue]="true">Disponible</option>
                <option [ngValue]="false">Rupture de stock</option>
            </select>
        </div>

        <div>
            <label for="type du produit">Nous vendons des : </label>
            <select name="type_produit" [(ngModel)]="newProduit.type_produit">
                <option value="PRODUIT">Produits</option>
                <option value="SERVICE">Services</option>
            </select>
        </div>


        <div>
            <label for="livraison">Livraison disponible ?</label>
            <select [(ngModel)]="newProduit.livraison.disponibilite" name="livraison">
                <option [ngValue]="false">Non</option>
                <option [ngValue]="true">Oui</option>
            </select>

            <div *ngIf="newProduit.livraison.disponibilite">
            <label>Frais de livraison</label>
            <input
                type="number"
                [(ngModel)]="newProduit.livraison.frais"
                name="livraison_frais"
                min="0"
            />
            </div>
        </div>

        <div>
                <label for="image_Url">Image du produit:</label>
                <input type="file" (change)="onImageSelected($event)" />
        </div>

        <button type="submit" [disabled]="produitForm.invalid">Ajouter</button>
    </form>
</div>
