.app-container {
    min-height: 100vh;
    display: flex;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: margin-left 0.3s;
}

.main-wrapper.has-sidebar {
    margin-left: 250px;
    /* Width of the sidebar */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-area {
    padding: 2rem;
    flex: 1;
}

/* Global Transitions */
* {
    transition: background-color 0.3s, color 0.3s;
}